<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <title>Recipes Search</title>
  </head>

    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{css/style.css}" />
  <body>

    <a href="newrecipe.html" th:href="@{/addRecipe}" aria-label="new-recipe" class="icon new-recipe">&#43;</a>

    <section id="container">
      <form action="index.html" th:action="@{/}" method="get">
        <input name="search" placeholder="search recipes" th:value="${search}" />
        <button>find a new dish!</button>
      </form>

      <section th:if="${recipes.size()} > 0">
        <a href="#" th:href="@{'/recipe?recipeId=' + ${recipe.id}}" title="recipe link" th:each="recipe : ${recipes}" th:title="${recipe.title}" >
          <article>
            <img src="http://lorempixel.com/400/200/cats/" th:src="@{${recipe.imageUrl}}" th:alt="${recipe.title}" />
            <h3 th:text="${recipe.title}">Title of recipe</h3>
          </article>
        </a>

        <a href="#" title="recipe link">
          <article th:remove="all">
            <img src="http://lorempixel.com/400/200/cats/" />
            <h3>Title of recipe</h3>
          </article>
        </a>

        <a href="#" title="recipe link">
          <article th:remove="all">
            <img src="http://lorempixel.com/400/200/cats/" />
            <h3>Title of recipe</h3>
          </article>
        </a>

        <a href="#" title="recipe link">
          <article th:remove="all">
            <img src="http://lorempixel.com/400/200/cats/" />
            <h3>Title of recipe</h3>
          </article>
        </a>

        <a href="#" title="recipe link">
          <article th:remove="all">
            <img src="http://lorempixel.com/400/200/cats/" />
            <h3>Title of recipe</h3>
          </article>
        </a>

        <a href="#" title="recipe link">
          <article th:remove="all">
            <img src="http://lorempixel.com/400/200/cats/" />
            <h3>Title of recipe</h3>
          </article>
        </a>

      </section>

      <section th:if="${recipes.size()} == 0">
        Sorry, nothing matched your search.
      </section>
    </section>
  </body>
</html>
