<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <title>Recipes Search</title>
  </head>

    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{css/style.css}" />
  <body>

    <a aria-label="new-recipe" class="new-recipe">+</a>

    <section id="container">
      <form action="index.html" th:action="@{/}" method="get">
        <input name="search" placeholder="search recipes" th:value="${search}" />
        <button>find a new dish!</button>
      </form>

      <section>
        <article th:each="recipe : ${recipes}">
          <img src="http://lorempixel.com/400/200/cats/" th:src="@{${recipe.imageUrl}}" />
          <h3 th:text="${recipe.title}">Title of recipe</h3>
        </article>

        <article th:remove="all">
          <img src="http://lorempixel.com/400/200/cats/" />
          <h3>Title of recipe</h3>
        </article>

        <article th:remove="all">
          <img src="http://lorempixel.com/400/200/cats/" />
          <h3>Title of recipe</h3>
        </article>

        <article th:remove="all">
          <img src="http://lorempixel.com/400/200/cats/" />
          <h3>Title of recipe</h3>
        </article>

        <article th:remove="all">
          <img src="http://lorempixel.com/400/200/cats/" />
          <h3>Title of recipe</h3>
        </article>

        <article th:remove="all">
          <img src="http://lorempixel.com/400/200/cats/" />
          <h3>Title of recipe</h3>
        </article>

      </section>
    </section>
  </body>
</html>
