<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Recipes Search</title>
  </head>

    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <body>

    <a aria-label="new-recipe" class="new-recipe">+</a>

    <section id="container">
      <input placeholder="search recipes">
      <button>find a new dish!</button>

      <section>
        <article>
          <h3>Title of recipe</h3>
        </article>

        <article>
          <h3>Title of recipe</h3>
        </article>

        <article>
          <h3>Title of recipe</h3>
        </article>

        <article>
          <h3>Title of recipe</h3>
        </article>

        <article>
          <h3>Title of recipe</h3>
        </article>

        <article>
          <h3>Title of recipe</h3>
        </article>

      </section>
    </section>
  </body>
</html>
