<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Recipes Search</title>
</head>

<link rel="stylesheet" type="text/css" href="../static/css/style.css"
      th:href="@{css/style.css}"/>
<body>

<a href="index.html" th:href="@{/}" aria-label="back to search"
   class="icon back">&#10094;</a>

<section id="container" class="recipe-form">
    <h1>Create a new recipe!</h1>

    <form action="index.html" th:href="@{/addRecipe}" method="post">
      <input title="title" type="text" name="title" placeholder="Title" />

      <textarea title="description" name="description" placeholder="Description"></textarea>

      <input title="serves" type="text" name="serves" placeholder="Number of Servings"/>

      <input title="image" type="text" name="image" placeholder="Insert Image Link"/>

      <div class="recipe-form-twocol">
        <ul class="recipe-form-list">
          <h2>Ingredients</h2>

          <li><input title="image" type="text" name="image" placeholder="Ingredient"/></li>

          <li><input title="image" type="text" name="image" placeholder="Ingredient"/></li>

          <a class="icon more" href="recipeForm.html" aria-label="more-ingrdients" class="">&#43;</a>
        </ul>

        <ol class="recipe-form-list">
          <h2>Instructions</h2>

          <li><input title="instruction" type="text" name="image" placeholder="Instruction"/></li>

          <li><input title="instruction" type="text" name="image" placeholder="Instruction"/></li>

          <a class="icon more" href="recipeForm.html"  aria-label="more-instructions" class="">&#43;</a>
        </ol>
      </div>

      <button>Create!</button>
    </form>


</section>
</body>
</html>
