<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Recipes Search</title>
</head>

<link rel="stylesheet" type="text/css" href="../static/css/style.css"
      th:href="@{css/style.css}"/>
<body>

<a href="index.html" th:href="@{/}" aria-label="back to search"
   class="icon back">&#10094;</a>

<section id="container">
    <form action="index.html" th:href="@{/addRecipe}" method="post">
        <div>
            <label>
                Title:
                <input type="text" name="title" value=""/>
            </label>
        </div>
        <br />
        <div>
            <label>
                Description:
                <textarea name="description"></textarea>
            </label>
        </div>
        <br />
        <div>
            <label>
                Upload an Image:
                <input type="file" name="image"/>
            </label>
        </div>
        <br />
        <div>
            <label>
                Serves:
                <input type="number" name="serves"/>
            </label>
        </div>
        <br />

        <button>Create!</button>

    </form>


</section>
</body>
</html>
