<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <title>Recipes Search</title>
  </head>

    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{css/style.css}" />
  <body>

    <a aria-label="new-recipe" class="new-recipe">+</a>

    <div th:text="${recipe}">...</div>

    <section id="container">
      <h1>Title of Recipe</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      
    </section>
  </body>
</html>
